.box {
  min-height: 100vh !important;
  background-color: rgb(8, 99, 148);
}
.cards {
  max-width: 200px !important;
  height: 323px !important;
}

.btn {
  background-color: tomato !important;
  color: azure !important;
}
